.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #24eeeb, #36a7d8, #367edd, #4b45b4);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, 
    #4caf50 0%,    /* Outfield Grass - Bright Green */
    #4caf50 12.5%, 
    #388e3c 12.5%,  /* Grass - Slightly Darker Green */
    #388e3c 25%, 
    #4caf50 25%,    /* Outfield Grass - Bright Green */
    #4caf50 37.5%, 
    #2e7d32 37.5%,  /* Grass - Darker Green */
    #2e7d32 50%, 
    #4caf50 50%,    /* Outfield Grass - Bright Green */
    #4caf50 62.5%, 
    #2e7d32 62.5%,  /* Grass - Darker Green */
    #2e7d32 75%, 
    #4caf50 75%,    /* Grass - Slightly Darker Green */
    #4caf50 87.5%, 
    #2e7d32 87.5%,  /* Outfield Grass - Bright Green */
    #2e7d32 100%);   /* Outfield Grass - Bright Green */
}
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    body{
        height: 100vh;
    }
    #resetPassword{
        margin-left: 10px;
    }
    #logIn{
        margin-right:10px;
        background-color: #4caf50 ;
    }
    #forgotPasswordButton{
        color: #2e7d32;
        border-color: #2e7d32;
    }
    @media (max-width: 992px) {
        #desktopOnly{
            display: none;
        }
    }
    #desktopOnly{
        background-color: rgb(243, 237, 237);
        color:black;
    }
    #beige{
        background-color: rgb(243, 237, 237);
        color:black;
    }
    #confirmPassword{
        display: none;
    }
